

h1 {
    font-family: 'Lobster', cursive;
    font-style: oblique;
    font-size: 95px;
    text-align: center;
    color: #c00635;
}

h2 {
    font-family: 'Atma', cursive;
    font-size: 2.5em;
    color: rgb(6, 63, 19);
    font: outline;
    text-shadow: -3px -3px 0 #EF8E34,
    text-align: center;
    margin-top: 35px;
    
    }

    h3{
        font-family: 'Oregano', cursive;
        font-style: oblique;
        font-size: 2.5em;
        text-align: center;
        color: #a70ace;
    }
    h4{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: oblique;
        font-size: 16px;
        text-align: center;
        color: #f5eff7;
    }
    .card-header {
        background-color: rgba(201, 15, 15, 0.7);
        font-family: 'Atma', cursive;
        font-style: oblique;
        font-size: 30px;
        text-align: center;
    }

    .list-group-item{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: oblique;
    }

    .userProgress {
        font-family: 'Bangers', cursive;
        font-style: oblique;
        
    }

   .card{
    margin-left: 320px;
    margin-right: -250px

   }
    
  